:root{
  --primary-color: rgb(151, 198, 128);
}
body{
  font-family: 'Poppins', sans-serif;
  margin: 2em;
}
.menu{
  
  width: 2rem;
  path{
    fill: black;
  }
}

header{
  display: flex;
  justify-content: space-between;

}

ul{
  display: none;
}

.logo{
  font-size: 2rem;
  font-weight: 700;

  span{
    color: var(--primary-color);
  }
}
.container{
  display: block;
}

.message{
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.7rem;
}

img{
  width: auto;
  height: 20rem;
  border-radius: 1rem;

}

.pictures{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  gap: 11rem;
  overflow-x: auto;

}
